.default-image {
  width: 200px;
  height: 200px;
}

.image {
  opacity: 0;
  transition: .3s ease-out opacity;


  &--loaded {
    opacity: 1;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}